In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, Dense, Flatten, Dropout, MaxPooling1D
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.optimizers import Adam
import tensorflow as tf
from tensorflow.keras import layers, models

In [14]:
df = pd.read_csv('travel_insurance/train.csv')
print(df.iloc[0])

Customer Id                            3JUN0VW6F043
Age                                              34
Employment Type        Private Sector/Self Employed
GraduateOrNot                                   Yes
AnnualIncome                                1300000
FamilyMembers                                     6
ChronicDiseases                                   0
FrequentFlyer                                   Yes
EverTravelledAbroad                              No
TravelInsurance                                  No
Name: 0, dtype: object

In [15]:
df.columns

Index(['Customer Id', 'Age', 'Employment Type', 'GraduateOrNot',
       'AnnualIncome', 'FamilyMembers', 'ChronicDiseases', 'FrequentFlyer',
       'EverTravelledAbroad', 'TravelInsurance'],
      dtype='object')

In [16]:
df

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
...,...,...,...,...,...,...,...,...,...,...
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

In [17]:
df = df.drop(columns=['Customer Id'])

In [18]:
label_encoders = {}
categorical_columns = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad', 'TravelInsurance']

for column in categorical_columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

df

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,34,1,1,1300000,6,0,1,0,0
1,28,1,1,750000,7,0,1,0,0
2,28,1,1,750000,6,0,1,0,0
3,32,0,1,800000,6,1,0,0,0
4,34,1,1,700000,4,1,0,0,0
...,...,...,...,...,...,...,...,...,...
1585,29,1,1,600000,3,0,0,0,0
1586,34,1,1,850000,3,1,0,1,0
1587,34,1,0,1300000,4,0,0,0,0
1588,33,0,1,400000,5,0,0,0,0
1589,28,1,1,750000,5,1,1,0,0

In [19]:
print(df.isnull().sum())
df = df.dropna()

Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [20]:
X = df.drop(columns=['TravelInsurance'])
y = df['TravelInsurance']

In [21]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [22]:
X = X.reshape(X.shape[0], X.shape[1], 1)
y = to_categorical(y)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
input_shape = (X_train.shape[1], X_train.shape[2])

In [25]:
# Define the CNN model
model = models.Sequential()

# Convolutional layers
model.add(layers.Conv2D(32, (3, 3), activation='relu', input_shape=input_shape))
model.add(layers.MaxPooling2D((2, 2)))

model.add(layers.Conv2D(64, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))

model.add(layers.Conv2D(128, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))

# Flatten the feature maps
model.add(layers.Flatten())

# Dense layers
model.add(layers.Dense(128, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))  # Binary classification

# Compile the model
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

# Display the model summary
model.summary()

ValueError: Input 0 of layer "conv2d" is incompatible with the layer: expected min_ndim=4, found ndim=3. Full shape received: (None, 8, 1)

In [ ]:
# def create_cnn_model(input_shape):
#     model = Sequential()
#     model.add(Conv1D(64, kernel_size=2, activation='relu', input_shape=input_shape))
#     model.add(MaxPooling1D(pool_size=2))
#     model.add(Dropout(0.2))
#     model.add(Flatten())
#     model.add(Dense(50, activation='relu'))
#     model.add(Dropout(0.2))
#     model.add(Dense(y_train.shape[1], activation='softmax'))
#     return model

In [ ]:
# input_shape = (X_train.shape[1], X_train.shape[2])
# model = create_cnn_model(input_shape)

In [ ]:
# model.compile(optimizer=Adam(), loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
# model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_2 (Conv1D)           (None, 7, 64)             192

 max_pooling1d_2 (MaxPoolin  (None, 3, 64)             0
 g1D)

 dropout_4 (Dropout)         (None, 3, 64)             0

 flatten_2 (Flatten)         (None, 192)               0

 dense_4 (Dense)             (None, 50)                9650

 dropout_5 (Dropout)         (None, 50)                0

 dense_5 (Dense)             (None, 2)                 102

=================================================================
Total params: 9944 (38.84 KB)
Trainable params: 9944 (38.84 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
history = model.fit(X_train, y_train, epochs=20, batch_size=32, validation_data=(X_test, y_test), verbose=1)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test, verbose=1)
print(f"Model Accuracy: {accuracy * 100:.2f}%")

Epoch 1/20
40/40 [==============================] - 1s 5ms/step - loss: 0.6180 - accuracy: 0.6643 - val_loss: 0.5786 - val_accuracy: 0.7453
Epoch 2/20
40/40 [==============================] - 0s 2ms/step - loss: 0.5623 - accuracy: 0.7398 - val_loss: 0.5649 - val_accuracy: 0.7516
Epoch 3/20
40/40 [==============================] - 0s 2ms/step - loss: 0.5526 - accuracy: 0.7461 - val_loss: 0.5443 - val_accuracy: 0.7704
Epoch 4/20
40/40 [==============================] - 0s 2ms/step - loss: 0.5440 - accuracy: 0.7704 - val_loss: 0.5417 - val_accuracy: 0.7799
Epoch 5/20
40/40 [==============================] - 0s 2ms/step - loss: 0.5277 - accuracy: 0.7704 - val_loss: 0.5346 - val_accuracy: 0.7799
Epoch 6/20
40/40 [==============================] - 0s 3ms/step - loss: 0.5233 - accuracy: 0.7736 - val_loss: 0.5299 - val_accuracy: 0.7673
Epoch 7/20
40/40 [==============================] - 0s 2ms/step - loss: 0.5221 - accuracy: 0.7799 - val_loss: 0.5269 - val_accuracy: 0.7862
Epoch 8/20
40/40 [==============================] - 0s 2ms/step - loss: 0.5126 - accuracy: 0.7822 - val_loss: 0.5163 - val_accuracy: 0.7987
Epoch 9/20
40/40 [==============================] - 0s 2ms/step - loss: 0.5011 - accuracy: 0.7932 - val_loss: 0.5127 - val_accuracy: 0.7987
Epoch 10/20
40/40 [==============================] - 0s 2ms/step - loss: 0.5096 - accuracy: 0.7869 - val_loss: 0.5108 - val_accuracy: 0.7987
Epoch 11/20
40/40 [==============================] - 0s 3ms/step - loss: 0.4964 - accuracy: 0.7956 - val_loss: 0.5080 - val_accuracy: 0.7893
Epoch 12/20
40/40 [==============================] - 0s 3ms/step - loss: 0.5080 - accuracy: 0.7987 - val_loss: 0.5027 - val_accuracy: 0.8082
Epoch 13/20
40/40 [==============================] - 0s 2ms/step - loss: 0.4968 - accuracy: 0.7940 - val_loss: 0.5041 - val_accuracy: 0.8176
Epoch 14/20
40/40 [==============================] - 0s 2ms/step - loss: 0.4987 - accuracy: 0.7917 - val_loss: 0.5029 - val_accuracy: 0.8113
Epoch 15/20
40/40 [==============================] - 0s 2ms/step - loss: 0.4939 - accuracy: 0.8027 - val_loss: 0.5037 - val_accuracy: 0.8176
Epoch 16/20
40/40 [==============================] - 0s 2ms/step - loss: 0.4989 - accuracy: 0.7987 - val_loss: 0.4951 - val_accuracy: 0.8239
Epoch 17/20
40/40 [==============================] - 0s 2ms/step - loss: 0.4940 - accuracy: 0.7932 - val_loss: 0.4940 - val_accuracy: 0.8239
Epoch 18/20
40/40 [==============================] - 0s 2ms/step - loss: 0.4908 - accuracy: 0.8011 - val_loss: 0.4901 - val_accuracy: 0.8270
Epoch 19/20
40/40 [==============================] - 0s 2ms/step - loss: 0.4880 - accuracy: 0.8042 - val_loss: 0.4897 - val_accuracy: 0.8302
Epoch 20/20
40/40 [==============================] - 0s 2ms/step - loss: 0.4844 - accuracy: 0.8019 - val_loss: 0.4870 - val_accuracy: 0.8302
10/10 [==============================] - 0s 1ms/step - loss: 0.4870 - accuracy: 0.8302
Model Accuracy: 83.02%

In [ ]:
test_df = pd.read_csv('travel_insurance/test.csv')
customer_ids = test_df['Customer Id'].copy()
test_df = test_df.drop(columns=['Customer Id'])

for column in test_df.columns:
    if column in label_encoders:
        le = label_encoders[column]
        test_df[column] = le.transform(test_df[column])

X_test_new = scaler.transform(test_df)

# Reshape X_test_new for Conv1D
X_test_new = X_test_new.reshape(X_test_new.shape[0], X_test_new.shape[1], 1)

test_probabilities = model.predict(X_test_new)

test_df['InsuranceProbability'] = test_probabilities[:, 1] 

# Output the probabilities
print(test_df[['InsuranceProbability']])

13/13 [==============================] - 0s 1ms/step
     InsuranceProbability
0                0.671163
1                0.892002
2                0.196954
3                0.904129
4                0.157780
..                    ...
392              0.399366
393              0.181593
394              0.224926
395              0.171645
396              0.333224

[397 rows x 1 columns]

In [ ]:
output_df = pd.DataFrame({
    'Customer Id': customer_ids,
    'prediction': test_probabilities[:, 1]  # Assuming the second column corresponds to the positive class
})

# Save the predictions to output.csv
output_df.to_csv('output.csv', index=False)